body {
  font:12px/1.4 Arial,Helvetica,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
}
@media screen and (max-width: 767px) {
  .carousel-indicators {
    bottom:0px;
    margin-bottom:0px;
  }
  .carousel-indicators li {
    margin-left:5px;
    width:6px;
    height:6px;
  }
  .carousel-indicators .active {
    width:6px;
    height:6px;
    margin:1px;
    margin-left:5px;
  }
  .carousel-caption {
    bottom:0px;
    padding-top:4px;
    padding-bottom:14px;
  }

  .title {
    margin-bottom: 12px;
  }

  .title a {
    font-size: 17px;
    padding-top:10px;
  }
}

.contents > .col-xs-8,.contents > .col-xs-4,.contents > .col-xs-12 {
  padding-top:25px;
  padding-bottom:5px;
  border-top:1px solid #e5e5e5;
}

.img-responsive {
  min-height:70px;
}

.carousel-caption {
  left:0px;
  right:0px;
  background: rgba(0, 0, 0, 0.75);
}

.carousel-caption h4 {
  margin:0px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  color: #4f5157;
  margin-bottom: 36px;
  word-break: break-all;
}

.detail-title {
  font-size: 22px;
  font-weight: 700;
  color: #4f5157;
  margin-bottom: 24px;
  word-break: break-all;
}

.title:hover {
  text-decoration: none;
}

.time {
  color:#9e9e9e;
  font-size:8px;
  margin-top:25px;
}

.title-tip p {
  color:#9e9e9e;
}

.bodys {
  color:#303030;
  font-size:16px;
}

.footer {
  position: fixed;
  z-index: 99999;
  bottom:0px;
  left:15px;
}

.footer > .close {
  position:absolute;
  z-index: 99999;
  right:15px;
}

.loader-inner {
  margin-top:60px;
  margin-left:60px;
}

@-webkit-keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }

  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }

  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

@keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }

  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }

  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); } }

@-webkit-keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }

  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); } }

@-webkit-keyframes pacman-balls {
  75% {
    opacity: 0.7; }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
            transform: translate(-100px, -6.25px); } }

@keyframes pacman-balls {
  75% {
    opacity: 0.7; }

  100% {
    -webkit-transform: translate(-100px, -6.25px);
            transform: translate(-100px, -6.25px); } }


.pacman {
  position: relative;

}
.pacman > div {
  display: block;
}

.pacman>div:nth-child(2) {
width: 0;
height: 0;
border-right: 25px solid transparent;
border-top: 25px solid #333;
border-left: 25px solid #333;
border-bottom: 25px solid #333;
border-radius: 25px;
-webkit-animation: rotate_pacman_half_down .5s 0s infinite;
animation: rotate_pacman_half_down .5s 0s infinite;
margin-top: -50px;
}

.pacman>div:nth-child(3), .pacman>div:nth-child(4), .pacman>div:nth-child(5), .pacman>div:nth-child(6) {
background-color: #333;
border-radius: 100%;
margin: 2px;
width: 10px;
height: 10px;
position: absolute;
-webkit-transform: translate(0,-6.25px);
-ms-transform: translate(0,-6.25px);
transform: translate(0,-6.25px);
top: 25px;
left: 100px;
}

.pacman>div:nth-child(3) {
-webkit-animation: pacman-balls 1s .33s infinite linear;
animation: pacman-balls 1s .33s infinite linear;
}

.pacman>div:nth-child(4) {
-webkit-animation: pacman-balls 1s .66s infinite linear;
animation: pacman-balls 1s .66s infinite linear;
}

.pacman>div:nth-child(5) {
-webkit-animation: pacman-balls 1s .99s infinite linear;
animation: pacman-balls 1s .99s infinite linear;
}

.pacman > div:first-of-type {
  width: 0;
  height: 0;
  border-right: 25px solid transparent;
  border-top: 25px solid #333;
  border-left: 25px solid #333;
  border-bottom: 25px solid #333;
  border-radius: 25px;
  -webkit-animation: rotate_pacman_half_up .5s 0s infinite;
  animation: rotate_pacman_half_up .5s 0s infinite;
  box-sizing: border-box;
}

.select {
  position:absolute;
  top:0;left:0;
  z-index:99999;
  display: none;
  background:rgba(0,0,0,0.8);
  padding-bottom: 0px;
}

.lead-div {
  border-left: 5px red solid;
}

.lead-div p {
  margin-left: 10px;
}

.head-img {
  min-width:70px;
}